- variant = 'control'
%div.experiment-container.experiment-control

  .container.slp-container#intro
    .row.text-center.u-padding-top-sm
      %h1 Get the DevOps platform

  .container.slp-container#plans
    .row.u-padding-top-xs
      - variant = 'control'
      %div.cmp-pricing-plan-list
        .row.pricing-nav-mobile
          -# empty div where the navigation will go once generated by javascript
        .row.plans
          - control_pricing_plans = data.pricing.plans.dup
          -# Must use .dup otherwise you're referencing the same object when copying the variable.
          - control_plans = control_pricing_plans
          - control_plans.each_with_index do |plan_control, index|
            - free = plan_control.id == 'free'
            %div{class: "col-md-4 plan plan-#{plan_control.id}"}
              .who-for= plan_control.sub_description
              .plan-inner-wrapper
                .content
                  .title= plan_control.title
                  .description= plan_control.description
                  .price $#{plan_control.monthly_price}
                  .price-monthly per user/month
                  - if free
                    .price-annually
                      No credit card required
                  - else
                    .price-annually Billed annually at #{number_to_currency(plan_control.monthly_price * 12, precision: 0)} USD
                  %div{ class: "btn cta-btn start-#{plan_control.id}", data: { target: "##{plan_control.id}-modal-#{variant}", toggle: 'modal' } }= plan_control.button_copy
                .features
                  - if !free
                    .first-feature
                      %span
                        %span.icon= partial "/images/icons/slp-arrow-left.svg"
                        %span="Everything from #{control_plans[index - 1].title}"
                  - data.pricing_themes.select{|theme| theme.tier == plan_control.title}.each do |theme|
                    - theme_features = data.features.features.select{|feature| (feature.pricing_theme && feature.pricing_theme.downcase == theme.name.downcase) && (feature[("gitlab_" + plan_control.title.downcase).to_sym]) }
                    - unless theme.pricing_page_hidden == true
                      - # Only expand for Paid themes with at least 2 features
                      - expand = !(free || theme_features.length < 2)
                      - if theme.pricing_page_sub_features
                        - expand = true
                      - if expand
                        %details{"data-inbound-analytics" => "pricing-details-element"}
                          %summary
                            %span.icon.expand= partial "/images/icons/slp-plus.svg"
                            %span.icon.collapse= partial "/images/icons/slp-minus.svg"
                            %span.plan-feature-title
                              - if theme.pricing_page_name
                                %span #{theme.pricing_page_name}
                              - else
                                %span #{theme.name}
                                %span.plan-feature-border
                          %ul.subfeatures
                            - theme_features.each do |feature|
                              - if feature.pricing_theme_display
                                %li
                                  %span.icon= partial "/images/icons/slp-bullet.svg"
                                  %span.plan-feature-title
                                    %span #{feature.title}
                            - if theme.pricing_page_sub_features
                              - theme.pricing_page_sub_features.each do |sub_feature|
                                %li
                                  %span.icon= partial "/images/icons/slp-bullet.svg"
                                  %span.plan-feature-title
                                    %span #{sub_feature}
                      - else
                        .single-summary{ :class => ('clickable' if theme.pricing_page_name_tooltip?)}
                          %span.icon= partial "/images/icons/slp-bullet.svg"
                          %span.plan-feature-title
                            - if theme.pricing_page_name_tooltip
                              %span.sass-tooltip-trigger
                                #{theme.pricing_page_name}
                                %span.saas-tooltip-text
                                  #{theme.pricing_page_name_tooltip}
                              %span.plan-feature-border
                            - else
                              %span #{theme.name}


      - data.pricing.plans.each do |plan|
        -# generate the "start now / buy now" self-managed vs saas modal so it can be displayed when clicking a related button
        = partial '/pricing/_modal2020', locals: plan_modal_options(plan, variant)

  .container.slp-container
    .row.text-center.u-padding-bottom-md
      %h4 All plans have unlimited (private) repositories. Use it SaaS or Self-Managed.
