---
layout: feature
title: "GitLab for GitOps"
description: "Foster collaboration between your infrastructure, operations, and development teams. Deploy more frequently with greater confidence while also increasing the stability, reliability, and security of your software environments."
suppress_header: true
canonical_path: "/solutions/gitops/"
extra_css:
  - solutions-v3.css
  - comparison-page-v2.css
  - carousel.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content-x
    = image_tag "/images/devops-tools/gitlab-logo.svg", class: "hero-image-small", alt: "Gitlab logo svg"
    %h1 GitLab for GitOps
    %p
      Infrastructure automation and collaboration for cloud native, multicloud, and legacy environments

.content-container.padding-vertical0.white-bg
  .sub-wrapper

    / ----- This creates the two panel section Text-Video Why GitLab for Gitops?
    .content-container.padding-vertical0.white-bg
      .container
        = partial('includes/solutions/gitops/why-gitlab-gitops.html.haml')

    .content-container.padding-vertical0.white-bg
      / ----- This creates a screen wide section of short text
      .container
        = partial('includes/solutions/gitops/what-is-gitops.html.haml')

    / ----- This creates the full wide list of items - GitLab Advantages
    .content-container.padding-vertical0.white-bg
      .container
        = partial('includes/solutions/gitops/gitlab-advantages.html.haml')

    / ----- This creates How GitLab Enables GitOps section
    .content-container.padding-vertical0.white-bg
      .container
        = partial('includes/solutions/gitops/how-gitlab-enables-gitops.html.haml')

    / ----- This creates the full wide list of items - GitLab Capabilities
    .content-container.padding-vertical0.white-bg
      .container
        = partial('includes/solutions/gitops/capabilities.html.haml')

    / ----- This creates the full wide list - GitLab resources
    .content-container.padding-vertical0.white-bg
      .container
        = partial('includes/solutions/gitops/resources.html.haml')
